{% extends 'layout/base.html' %}
{% load i18n %}
{% load static %}
{% load contract_tags %}
{% block title %} {% trans "Trader purchases" %} {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Main content -->
<div class="content-wrapper" style="background: #ABACE2">

	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4>
					<i class="icon-arrow-left52 position-left"></i>
					<span class="text-semibold">{% trans "Contract" %}</span> - {% trans "Trader purchases" %}
				</h4>
			</div>
		</div>

		<div class="breadcrumb-line breadcrumb-line-component">
			<ul class="breadcrumb">
				<li><a><i class="icon-cart2 position-left"></i>{% trans "Contract" %}</a></li>
				<li class="active">{% trans "Trader purchases" %}</li>
			</ul>
		</div>
	</div>
	<!-- /page header -->

	<!-- Content area -->
	<div class="content">

		<!-- Main charts -->
		<div class="row">
			<div class="col-lg-12">

				<!-- Traffic sources -->
				<form action="" method="POST" name="trader_purchases" data-invoice="false">

					{% csrf_token %}

					<div class="panel panel-flat px-3">
						<div class="panel-title-wrapper container-fluid pt-5">
							<div class="row d-flex flex-wrap">
								<div class="col-3 text-left d-flex align-items-center">
									<label class="control-label mb-0">No.</label>
									<div class="col-6">
										{{ contract_form.contract_id }}
									</div>
								</div>
								<div class="col-6 d-flex align-items-center justify-content-center">
									<h2 class="panel-title text-center">{% trans "Contract and invoice" %}</h2>
								</div>

								<div class="col-3 col-sm-12">
									<div class="d-flex align-items-center justify-content-end">
										<span class="contract-date-label">{% trans "Created date" %}</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-calendar22"></i></span>
											<input type="text" name="created_at" id="id_created_at"
												value="{% date_conversion contract_form.created_at.value %}"
												class="form-control daterange-single" required="">
										</div>
									</div>
									<div class="d-flex align-items-center justify-content-end mt-3">
										<span class="contract-date-label">{% trans "Updated date" %}</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-calendar22"></i></span>
											<input type="text" name="updated_at" id="id_updated_at"
												value="{% date_conversion contract_form.updated_at.value %}"
												class="form-control daterange-single" required="" id="id_updated_at">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="container-fluid">
							<div class="row flex-wrap align-items-end d-flex">
								<div class="col-lg-9 col-xs-12 text-left">
									<div class="row d-flex flex-wrap">
										<div class="col-8 col-sm-12">
											<div class="mb-1 d-flex row">
												<label class="control-label w-18-5 mt-auto pl-10-px">{% trans "Company" %}</label>
												<div class="col-9">
													<select class="select-customer" name="customer_id" required>
														<option value="" selected>
															{% trans "Search by customer, frigana, tel or fax" %}
														</option>
													</select>
													<div class="form-control-feedback w-50-px">
														<span>{% trans "CO." %}</span>
													</div>
												</div>
											</div>
											<div class="form-group d-flex row">
												<label class="control-label w-18-5 mt-auto pl-10-px"></label>
												<div class="col-9">
													<div class="has-feedback">
														{{ contract_form.manager }}
														<div class="form-control-feedback w-50-px">
															<span>{% trans "Mr." %}</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-4 col-sm-12">
											<div class="form-group d-flex row">
												<label class="control-label col-4 mt-auto text-right">{% trans "Frigana" %}</label>
												<div class="col-8">
													{{ contract_form.frigana }}
												</div>
											</div>
										</div>
									</div>

									<div class="row d-flex flex-wrap">
										<div class="col-6 col-sm-12">
											<div class="form-group d-flex row">
												<label class="control-label col-3 mt-auto">{% trans "Postal code" %}</label>
												<div class="col-7">
													{{ contract_form.postal_code }}
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-12 col-sm-12">
											<div class="form-group d-flex row">
												<label class="control-label w-12-5 col-sm-3 mt-auto">{% trans "Address" %}</label>
												<div class="col-6">
													{{ contract_form.address }}
												</div>
											</div>
										</div>
									</div>

									<div class="row flex-wrap d-flex">
										<div class="col-6 col-sm-12">
											<div class="form-group d-flex row">
												<label class="control-label col-3 mt-auto">{% trans "TEL" %}</label>
												<div class="col-7">
													{{ contract_form.tel }}
												</div>
											</div>
										</div>
										<div class="col-5 col-sm-12">
											<div class="form-group d-flex row">
												<label class="control-label col-2 mt-auto text-center">{% trans "FAX" %}</label>
												<div class="col-8">
													{{ contract_form.fax }}
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-xs-12">
									<div>
										<div class="form-group d-flex row">
											<div class="w-100 d-flex align-items-center">
												<label class="control-label col-5 mt-auto">P-SENSOR
													{% trans "Member ID" %}</label>
												<div class="col-7">
													<input type="text" class="form-control" value="{{ seller_p_sensor_number }}" name="member_id"
														disabled>
												</div>
											</div>
										</div>
										<div class="form-group d-flex row">
											<div class="w-100 d-flex align-items-center">
												<label class="control-label col-5 mt-auto">{% trans "Person in charge" %}</label>
												<div class="col-7">
													<select name="person_in_charge" class="selectbox select-person">
														<option value="">{% trans 'Select person in charge' %}...
														</option>
														{% for person in people %}
														<option value="{{ person.name }}"
															{% ifequal contract_form.person_in_charge.value person.name %} selected {% endifequal %}>
															{{ person.name }}
														</option>
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="d-flex flex-wrap mt-5-s">
									<div class="col-6 col-sm-12 px-0">
										<div class="form-group has-feedback d-flex">
											<label class="control-label col-2 mt-auto">{% trans "Product" %}</label>
											<div class="col-lg-8">
												<select class="select-product">
													<option value="" selected>{% trans "Search by model name" %}...
													</option>
												</select>
											</div>
											<button type="button" name="add_product_btn" class="btn btn-primary">{% trans "Add" %}</button>
										</div>
									</div>
								</div>
								<div class="col-12 pb-5">
									<table class="table table-formset table-product border-bottom">
										{{ productformset.management_form }}
										<thead>
											<tr>
												<th>{% trans "Model name" %}</th>
												<th>{% trans "Product type" %}</th>
												<th>{% trans "Quantity" %}</th>
												<th>{% trans "Price" %}</th>
												<th>{% trans "Amount" %}</th>
												<th>{% trans "Action" %}</th>
											</tr>
										</thead>
										<tbody>
											{% for form in productformset.forms %}
											<tr class="formset_row-{{ productformset.prefix }} w-100">
												{% for field in form.visible_fields %}
												{% if forloop.first %}
												<td>
													<div class="form-group mb-0">
														<div class="px-0">
															{% for hidden in form.hidden_fields %}
															{{ hidden }}
															{% endfor %}
															{{ field }}
														</div>
													</div>
												</td>
												{% elif forloop.counter == 2 %}
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-10 px-0">
															{{ field }}
														</div>
													</div>
												</td>
												{% elif forloop.counter == 3 %}
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															{{ field }}
														</div>
													</div>
												</td>
												{% elif forloop.counter == 4 %}
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															{{ field }}
														</div>
													</div>
												</td>
												{% elif forloop.last %}
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															{{ field }}
														</div>
													</div>
												</td>
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															<a href="#" class="delete-action" name="delete_data">
																<i class="icon-minus-circle2 ml-3 color-danger"></i></a>
														</div>
													</div>
												</td>
												{% endif %}
												{% endfor %}
											</tr>
											{% empty %}
											<tr class="odd">
												<td class="text-center" colspan="6" valign="top">
													{% trans "No product has been added." %}</td>
											</tr>
											{% endfor %}

											<tr id="{{ productformset.prefix }}-formset-row" style="display: none;">
												<td>
													<div class="form-group mb-0">
														<div class="px-0">
															<input type="hidden" name="{{ productformset.prefix }}-xx-id"
																id="id_{{ productformset.prefix }}-xx-id">
															<input type="hidden" name="{{ productformset.prefix }}-xx-product_id"
																id="id_{{ productformset.prefix }}-xx-product_id">
															<input type="hidden" class="form-control" name="{{ productformset.prefix }}-xx-tax"
																id="id_{{ productformset.prefix }}-xx-tax" value="0" disabled="">
															<input type="hidden" class="form-control" name="{{ productformset.prefix }}-xx-fee"
																id="id_{{ productformset.prefix }}-xx-fee" value="0" disabled="">
															<input type="text" class="form-control" name="{{ productformset.prefix }}-xx-name"
																id="id_{{ productformset.prefix }}-xx-name" disabled="">
														</div>
													</div>
												</td>
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-10 px-0">
															<select id="id_{{ productformset.prefix }}-xx-type"
																name="{{ productformset.prefix }}-xx-type">
																<option value="M">{% trans "Main body" %}</option>
																<option value="F">{% trans "Frame" %}</option>
																<option value="C">{% trans "Cell" %}</option>
																<option value="N">{% trans "Nail sheet" %}</option>
															</select>
														</div>
													</div>
												</td>
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															<input type="number" name="{{ productformset.prefix }}-xx-quantity"
																id="id_{{ productformset.prefix }}-xx-quantity" class="form-control" value="0" required>
														</div>
													</div>
												</td>
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															<input type="number" name="{{ productformset.prefix }}-xx-price" class="form-control"
																id="id_{{ productformset.prefix }}-xx-price" value="0" required>
														</div>
													</div>
												</td>
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															<input type="text" class="form-control" name="{{ productformset.prefix }}-xx-amount"
																id="id_{{ productformset.prefix }}-xx-amount" value="0" disabled="">
														</div>
													</div>
												</td>
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															<a href="#" class="delete-action" name="delete_data">
																<i class="icon-minus-circle2 ml-3 color-danger"></i></a>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="row">
								<div class="d-flex flex-wrap mt-5-s">
									<div class="col-6 col-sm-12 px-0">
										<div class="form-group has-feedback d-flex">
											<label class="control-label col-2 mt-auto">{% trans "Other" %}</label>
											<div class="col-lg-8">
												<select name="select-document" class="selectbox select-document">
													<option value="">{% trans 'Select document' %}...</option>
													{% for document in documents %}
													<option value="{{ document.id }}">{{ document.name }}</option>
													{% endfor %}
												</select>
											</div>
											<button type="button" name="add_document_btn" class="btn btn-primary">{% trans "Add" %}</button>
										</div>
									</div>
								</div>
								<div class="col-12 pb-80-px">
									<table class="table table-formset table-document border-bottom">
										{{ documentformset.management_form }}
										<thead>
											<tr>
												<th>{% trans "Document" %}</th>
												<th>{% trans "Quantity" %}</th>
												<th>{% trans "Price" %}</th>
												<th>{% trans "Amount" %}</th>
												<th>{% trans "Action" %}</th>
											</tr>
										</thead>
										<tbody>
											{% for form in documentformset.forms %}
											<tr class="formset_row-{{ documentformset.prefix }} w-100">
												{% for field in form.visible_fields %}
												{% if forloop.first %}
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															{% for hidden in form.hidden_fields %}
															{{ hidden }}
															{% endfor %}
															{{ field }}
														</div>
													</div>
												</td>
												{% elif forloop.counter == 2 %}
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-6 px-0">
															{{ field }}
														</div>
													</div>
												</td>
												{% elif forloop.counter == 3 %}
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-6 px-0">
															{{ field }}
														</div>
													</div>
												</td>
												{% elif forloop.last %}
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															{{ field }}
														</div>
													</div>
												</td>
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															<a href="#" class="delete-action" name="delete_data">
																<i class="icon-minus-circle2 ml-3 color-danger"></i></a>
														</div>
													</div>
												</td>
												{% endif %}
												{% endfor %}
											</tr>
											{% empty %}
											<tr class="odd">
												<td class="text-center" colspan="5" valign="top">
													{% trans "No document has been added." %}</td>
											</tr>
											{% endfor %}

											<tr id="{{ documentformset.prefix }}-formset-row" style="display: none;">
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															<input type="hidden" name="{{ documentformset.prefix }}-xx-id"
																id="id_{{ documentformset.prefix }}-xx-id">
															<input type="hidden" name="{{ documentformset.prefix }}-xx-document_id"
																id="id_{{ documentformset.prefix }}-xx-document_id">
															<input type="hidden" name="{{ documentformset.prefix }}-xx-taxable"
																id="id_{{ documentformset.prefix }}-xx-taxable">
															<input type="hidden" class="form-control" id="id_{{ documentformset.prefix }}-xx-tax"
																name="{{ documentformset.prefix }}-xx-tax" value="0" disabled="">
															<input type="text" class="form-control" id="id_{{ documentformset.prefix }}-xx-name"
																name="{{ documentformset.prefix }}-xx-name" disabled="">
														</div>
													</div>
												</td>
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-6 px-0">
															<input type="number" class="form-control" id="id_{{ documentformset.prefix }}-xx-quantity"
																name="{{ documentformset.prefix }}-xx-quantity" value="0" required>
														</div>
													</div>
												</td>
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-6 px-0">
															<input type="number" class="form-control" id="id_{{ documentformset.prefix }}-xx-price"
																name="{{ documentformset.prefix }}-xx-price" value="0" required>
														</div>
													</div>
												</td>
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															<input type="text" class="form-control" id="id_{{ documentformset.prefix }}-xx-amount"
																name="{{ documentformset.prefix }}-xx-amount" value="0" disabled="">
														</div>
													</div>
												</td>
												<td>
													<div class="form-group mb-0">
														<div class="col-lg-7 px-0">
															<a href="#" class="delete-action" name="delete_data">
																<i class="icon-minus-circle2 ml-3 color-danger"></i></a>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="row flex-wrap d-flex justify-content-between form-group">
								<div class="col-lg-8 col-xs-12 d-flex flex-wrap">
									<div class="row d-flex flex-wrap">
										<div class="col-lg-6 col-xs-12 form-group">
											<div class="position-relative">
												<!-- <div class="input-group">
													<span class="input-group-addon">{% trans "Removal date" %}</span>
													<input type="text" name="removal_date" id="id_removal_date"
														value="{% date_conversion contract_form.removal_date.value %}"
														class="form-control daterange-single" required="">
												</div> -->
												<div class="input-group">
													<span class="input-group-addon shipping_date_label">{% trans "Delivery date" %}</span>
													<input type="text" name="shipping_date"
														value="{% date_conversion contract_form.shipping_date.value %}"
														class="form-control datepicker-nullable" id="id_shipping_date">

												</div>
												<div class="form-control-feedback">
													<i class="icon-calendar22"></i>
												</div>
											</div>
										</div>
										<div class="col-lg-6 form-group">
											<!-- <div class="input-group">
												<span class="input-group-addon">{% trans "Frame color" %}</span>
												{{ contract_form.frame_color }}
											</div> -->
										</div>
										<div class="col-lg-6 col-xs-12 form-group">
											<!-- <div class="position-relative">
												<div class="input-group">
													<span class="input-group-addon">{% trans "Date of shipment" %}</span>
													<input type="text" name="shipping_date" id="id_shipping_date"
														value="{% date_conversion contract_form.shipping_date.value %}"
														class="form-control daterange-single" required="">
												</div>
												<div class="form-control-feedback">
													<i class="icon-calendar22"></i>
												</div>
											</div> -->
											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon">{% trans "Shipping method" %}</span>
													{{ contract_form.shipping_method }}
												</div>
											</div>
										</div>
										<div class="col-lg-6 form-group">
											<!-- <div class="input-group w-100">
												<div class="input-group w-100">
													<span class="input-group-addon">{% trans "Receipt" %}</span>
													{{ contract_form.receipt }}
												</div>
											</div> -->
											<div class="position-relative form-group">
												<div class="input-group">
													<span class="input-group-addon">{% trans "Payment due date" %}</span>
													<input type="text" name="payment_due_date"
														value="{% date_conversion contract_form.payment_due_date.value %}"
														class="form-control daterange-single" id="id_payment_due_date">
												</div>
												<div class="form-control-feedback">
													<i class="icon-calendar22"></i>
												</div>
											</div>
										</div>
										<div class="col-lg-12 col-xs-12">
											<div class="">
												<div class="input-group">
													<span class="input-group-addon">{% trans "Remarks" %}</span>
													{{ contract_form.remarks }}
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-xs-12">
									<table class="table table-bordered">
										<tbody>
											<tr>
												<td>{% trans "Sum" %}</td>
												<td class="py-0">{{ contract_form.sub_total }}</td>
											</tr>
											<tr>
												<td>{% trans "Consumption tax" %} (10%)</td>
												<td class="py-0">{{ contract_form.tax }}</td>
											</tr>
											<tr>
												<td>
													<div class="checkbox my-0">
														<label>
															<input type="checkbox" id="fee_editable" class="styled">
															{% trans "Insurance fee" %} ({% trans "No tax" %})
														</label>
													</div>
												</td>
												<td>
													{{ contract_form.fee }}
												</td>
											</tr>
											<tr>
												<td>{% trans "Total" %}</td>
												<td class="py-0">{{ contract_form.total }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="row">
								<div class="col-12 form-group">
									<span type="text" class="form-control remarks" rows="5">
										※
										{% trans "It is assumed that the contract has been concluded with the arrival of our certificate of sale." %}
										<br />
										※
										{% trans "If you cancel after sending the proof of purchase, you will be compensated for 100% of the closing price." %}
										<br />
										※
										{% trans "We will notify you of any missing items or damage within 3 days after the item arrives. No further returns or exchanges will be accepted." %}
									</span>
								</div>
							</div>
							
							<div class="row d-flex flex-wrap mt-5-s">

								<!-------------------------------- Product Sender ------------------------------->
								<div class="col-lg-6 col-xs-12">
									<fieldset class="content-group">
										<legend class="text-bold text-center product-sender-label">{% trans "Product sender" %}</legend>
										<div class="form-group v-select-product-sender">
											<label class="control-label">{% trans "Company" %}</label>
											<select name="product_sender_id" class="select-sender select-product-sender">
												<option value="">{% trans 'Select product sender' %}...</option>
											</select>
											<a href="#" class="v-sender-clear"><i class="icon-minus-circle2 ml-3 color-danger"></i></a>
										</div>
										{{ product_sender_form.p_id }}
										<div class="form-group">
											<label class="control-label">{% trans "Address" %}</label>
											<div class="">
												{{ product_sender_form.product_sender_address }}
											</div>
										</div>
										<div style="display: none">
											{{ product_sender_form.product_sender_postal_code}}
										</div>
										<div class="form-group">
											<label class="control-label">{% trans "TEL" %}</label>
											<div class="">
												{{ product_sender_form.product_sender_tel }}
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">{% trans "Desired arrival date" %}</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-calendar22"></i></span>
												<input type="text" name="product_desired_arrival_date" id="id_product_desired_arrival_date"
													class="form-control daterange-single"
													value="{% date_conversion product_sender_form.product_desired_arrival_date.value %}"
													required="">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">{% trans "Shipping company" %}</label>
											<div class="">
												{{ product_sender_form.product_shipping_company }}
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">{% trans "Remarks" %}</label>
											<div class="">
												{{ product_sender_form.product_sender_remarks }}
											</div>
										</div>
									</fieldset>

								</div>

								<!-------------------------------- Document Sender ------------------------------->
								<div class="col-lg-6 col-xs-12">
									<fieldset class="content-group">
										<legend class="text-bold text-center">{% trans "Document sender" %}</legend>
										<div class="form-group v-select-document-sender">
											<label class="control-label">{% trans "Company" %}</label>
											<select name="document_sender_id" class="select-sender select-document-sender">
												<option value="">{% trans 'Select document sender' %}...</option>
											</select>
											<a href="#" class="v-document-clear"><i class="icon-minus-circle2 ml-3 color-danger"></i></a>
										</div>
										{{ document_sender_form.d_id }}
										<div class="form-group">
											<label class="control-label">{% trans "Address" %}</label>
											<div class="">
												{{ document_sender_form.document_sender_address }}
											</div>
										</div>
										<div style="display: none">
											{{ document_sender_form.document_sender_postal_code}}
										</div>
										<div class="form-group">
											<label class="control-label">{% trans "TEL" %}</label>
											<div class="">
												{{ document_sender_form.document_sender_tel }}
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">{% trans "Desired arrival date" %}</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-calendar22"></i></span>
												<input type="text" name="document_desired_arrival_date" id="id_document_desired_arrival_date"
													class="form-control daterange-single"
													value="{% date_conversion document_sender_form.document_desired_arrival_date.value %}"
													required="">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">{% trans "Shipping company" %}</label>
											<div class="">
												{{ document_sender_form.document_shipping_company }}
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">{% trans "Remarks" %}</label>
											<div class="">
												{{ document_sender_form.document_sender_remarks }}
											</div>
										</div>
									</fieldset>
								</div>
							</div>
							<div class="row mt-5-s text-center">
								<p>{% trans "Please check the contents, seal it, and fax it to us." %}</p>
								<h3>{% trans "Return address" %}：バッジオ(株)　06-6753-8079</h3>
							</div>
							<div class="row mt-5-s">
								<div class="col-lg-6 col-xs-12">
									<h6 class="text-center">{% trans "Buyer" %}</h6>
									<div class="seal-wrapper">
										<p>〒<span
												class="buyer-postal-code ml-4">{{ contract_form.postal_code.value|default_if_none:"" }}</span>
											<span class="buyer-address ml-4">{{ contract_form.address.value|default_if_none:"" }}</span>
										</p>
										<h4 class="buyer-company">
											{{ contract_form.customer_name.value|default_if_none:"" }}</h4>
										<p class="mb-0 d-flex">
											<span class="w-min-150-px">TEL : <span
													class="buyer-tel">{{ contract_form.tel.value|default_if_none:"" }}</span></span>
											<span class="ml-4 w-min-150-px">FAX : <span
													class="buyer-fax">{{ contract_form.fax.value|default_if_none:"" }}</span></span>
										</p>
										<div class="seal">
											印
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-xs-12">
									<h6 class="text-center">{% trans "Seller" %}</h6>
									<div class="seal-wrapper">
										<p>〒<span class="seller-postal-code ml-4">{{ seller_postal_code }}</span>
											<span class="seller-address ml-4">{{ seller_address }}</span></p>
										<h4 class="seller-company">{{ seller_company }}</h4>
										<p class="mb-0 d-flex">
											<span class="w-min-150-px">TEL : <span class="seller-tel">{{ seller_tel }}</span></span>
											<span class="ml-4 w-min-150-px">FAX : <span class="seller-fax">{{ seller_fax }}</span></span>
										</p>
										<div class="seal">
											印
										</div>
									</div>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-6 d-flex justify-content-center">
									<div class="col-3">
										<span>TEL</span>
										<span class="ml-4">06-6753-0878</span>
									</div>
									<div class="col-3">
										<span>FAX</span>
										<span class="ml-4">06-6753-0878</span>
									</div>
								</div>
							</div>

							<div class="d-flex flex-wrap border border-color-1 mt-5-s">
								<div class="col-lg-6 col-xs-12 p-0">
									<div class="table-row">
										<div class="col-lg-3 col-xs-3 table-cell py-10-px" style="visibility: hidden;">
											{% trans "Transfer deadline" %}
										</div>
										<div class="col-lg-9 col-xs-9 table-cell border-sm-right-0 py-10-px">
											<div class="col-lg-12" style="visibility: hidden;">
												<div class="has-feedback has-feedback-left">
													<input type="text" name="transfer_deadline" id="id_transfer_deadline"
														class="form-control daterange-single"
														value="{% date_conversion contract_form.transfer_deadline.value %}" >
													<div class="form-control-feedback">
														<i class="icon-calendar22"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="table-row">
										<div class="col-lg-3 col-xs-3 table-cell border-top h-112-px">
											{% trans "Transfer account" %}
										</div>
										<div class="col-lg-9 col-xs-9 table-cell border-top border-sm-right-0">
											<div class="w-100">
												<div class="">
													<div class="col-lg-6 col-xs-6 table-cell">{% trans "Bank name" %}
													</div>
													<div class="col-lg-6 col-xs-6 table-cell border-right-0 py-10-px">
														<div class="col-lg-12">
															{{ contract_form.bank_name }}
														</div>
													</div>
												</div>
												<div class="">
													<div class="col-lg-6 col-xs-6 table-cell border-top">
														{% trans "Account number" %}</div>
													<div class="col-lg-6 col-xs-6 table-cell border-top border-right-0 py-10-px">
														<div class="col-lg-12">
															{{ contract_form.account_number }}
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="col-lg-6 col-xs-12 p-0 border-sm-top">
									<div class="table-row">
										<div class="col-lg-3 col-xs-3 table-cell">
											{% trans "Original invoice" %}
										</div>
										<div class="col-lg-9 col-xs-9 table-cell border-right-0">
											{% trans "Required" %}
											∙
											{% trans "Not required" %}
										</div>
									</div>
									<div class="table-row">
										<div class="col-lg-3 col-xs-3 table-cell border-top">
											{% trans "Branch name" %}
										</div>
										<div class="col-lg-9 col-xs-9 table-cell border-top border-right-0 py-10-px">
											<div class="col-lg-12">
												{{ contract_form.branch_name }}
											</div>
										</div>
									</div>
									<div class="table-row">
										<div class="col-lg-3 col-xs-3 table-cell border-top">
											{% trans "Account holder" %}
										</div>
										<div class="col-lg-9 col-xs-9 table-cell border-top border-right-0 py-10-px">
											<div class="col-lg-12">
												{{ contract_form.account_holder }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row mt-4">
								<p class="text-center">
									{% trans "Please describe the transfer destination." %}
								</p>
							</div>
							<div class="row print-btn-group">
								<div class="col-md-12">
									<div class="mb-4 text-center">
										<button type="submit" class="btn btn-primary mr-4"><i class="fa fa-print position-left"></i>
											{% trans "Save" %}</button>
										<button type="button" class="btn btn-primary create-invoice"><i
												class="fa fa-print position-left"></i>
											{% trans "Export to excel" %}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- /traffic sources -->

			</div>
		</div>

		{% include "layout/error_modal.html" %}

		<script>
			$(function () {

				$("form").submit(function (e) {
					if ($(".formset_row-product").length == 0) {
						alert('{% trans "You can not save without one or more products" %}');
						e.preventDefault();
					}
				});

				{% if contract_form.customer_id.value %}
				$(".select-customer").select2("trigger", "select", {
					data: { id: "{{contract_form.customer_id.value}}", text: "{{contract_form.customer_name.value}}" }
				});
				{% endif %}

				{% if product_sender_form.product_sender_id.value %}
				$(".select-product-sender").select2("trigger", "select", {
					data: { id: "{{product_sender_form.product_sender_id.value}}", text: "{{product_sender_form.product_sender_name.value}}" }
				});
				{% endif %}

				{% if document_sender_form.document_sender_id.value %}
				$(".select-document-sender").select2("trigger", "select", {
					data: { id: "{{document_sender_form.document_sender_id.value}}", text: "{{document_sender_form.document_sender_name.value}}" }
				});
				{% endif %}

				resetMangementForm('product');
				resetMangementForm('document');

				$('#id_shipping_method').change(function () {
					var shipping_method = $(this).val();
					$.ajax({
						type: 'POST',
						url: "{% url 'contract:shipping-label' %}",
						data: {
							data: shipping_method,
						},
						beforeSend: function(request) {
							request.setRequestHeader('X-CSRFToken', csrftoken);
						},
						success: function (result) {
							$('span.shipping_date_label').text(result.data);
							$('legend.product-sender-label').text(result.data1);
						}
					});
				});

				$('button.create-invoice').click(function (e) {
					var $form = $(this).closest('form');
					$form.attr('action', "{% url 'contract:trader-purchases-invoice' %}");
					$form.data('invoice', true);
					$form.submit();
				});

			});
		</script>

	</div>
	<!-- /content area -->

</div>
{% endblock %}