{% extends 'layout/base_not_logged.html' %}

{% load i18n %}

{% block content %}
	{% if validlink %}
		<form method="POST">
			{% csrf_token %}

			<div class="panel panel-body login-form">
				<div class="text-center">
					<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
					<h5 class="content-group">{% trans "Change password" %}</h5>
				</div>

				<div class="form-group has-feedback has-feedback-left">
					<input type="password" class="form-control" placeholder="{% trans 'New password' %}" name="new_password1" required>
					<div class="form-control-feedback">
						<i class="icon-lock2 text-muted"></i>
					</div>
				</div>

				<div class="form-group has-feedback has-feedback-left">
					<input type="password" class="form-control" placeholder="{% trans 'New password confirmation' %}" name="new_password2" required>
					<div class="form-control-feedback">
						<i class="icon-lock2 text-muted"></i>
					</div>
				</div>

				{% for message in messages %}
				<div class="alert alert-danger" role="alert">
					<span class="help-block">{{ message }}</span>
				</div>
				{% endfor %}

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">{% trans "Change password" %} <i class="icon-circle-right2 position-right"></i></button>
				</div>
			</div>
		</form>
	{% else %}
		<div class="panel panel-body">
			<p>
				{% trans 'The password reset link was invalid, possibly because it has already been used.' %}
				{% trans 'Please request a new password reset.' %}
			</p>
		</div>
	{% endif %}

{% endblock %}


					
